html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}

meni {
  margin:10px;
  padding:10px;
  padding-top:0px;
  max-width:300px;
  min-width:300px;
}

.info-element {
  text-align: right;
  padding-right: 15px;
  font-style: italic;
}

table {
  border-spacing: 0 10px;
}

button {
  background: white;
}

telo {
  flex: 1;
  float: right;
  margin: 10px;
  overflow: visible;
  padding: 10px;
  display: inline-block;;
  background-color: lightgray;
}

.rob {
  border: 1px solid transparent;
  border-color: #C30C21;
  border-radius: 4px;
}

.senca {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

td {
  vertical-align: middle;
  text-align: center;
}
img {
  width:50px;
}
#prikaziZgodovino{
  padding: 5px;
  margin-top:20px; 
}